<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">  
		<bean id="storeDetailAction" class="cn.brotherChun.erp.invoice.storedetail.action.StoreDetailAction" scope="prototype">
			<property name="storeDetailEbi" ref="storeDetailEbi"></property>
		</bean>
		
		<bean id="storeDetailEbi" class="cn.brotherChun.erp.invoice.storedetail.business.ebo.StoreDetailEbo">
			<property name="storeDetailDao" ref="storeDetailDao"></property>
		</bean>
		
		<bean id="storeDetailDao" class="cn.brotherChun.erp.invoice.storedetail.dao.impl.StoreDetailDaoImpl">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
</beans>	
	
