<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">  
		<bean id="roleAction" class="cn.brotherChun.erp.auth.role.action.RoleAction" scope="prototype">
			<property name="roleEbi" ref="roleEbi"></property>
			<property name="resEbi" ref="resEbi"></property>
		</bean>
		
		<bean id="roleEbi" class="cn.brotherChun.erp.auth.role.business.ebo.RoleEbo">
			<property name="roleDao" ref="roleDao"></property>
		</bean>
		
		<bean id="roleDao" class="cn.brotherChun.erp.auth.role.dao.impl.RoleDaoImpl">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
</beans>	
	
